.main aside {
  height: fit-content;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main aside > img{
  margin:-50px 0 5px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
}
.main aside > h1{
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}