
.tema03.bg {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -1;
  bottom: 0;
}
body{
  background-color: #ab6a8c;
}
.tema03.bg > div {
  bottom: 0;
  background-repeat: repeat-x;
}
.tema03.bg .bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  max-height: unset;
  background-color: #ab6a8c;
  background-size: contain;
  animation: moveBg2 80s infinite linear;
  background-position: bottom;
  background-image: url(../imgs/theme03/bg.png);
}
@media (max-width:1000px){
  .tema03.bg .bg {
    background-size: 130%;
  }
}
.tema03.bg .montain-far {
  z-index: 2;
  animation: moveBg 60s infinite linear;
  width: 100%;
  height: 100%;
  max-height: 50%;
  position: absolute;
  background-position: center;
  bottom: 0;
  background-size: contain;
  animation: moveBg4 60s infinite linear;
  background-position: bottom;
  background-image: url(../imgs/theme03/montain-far.png);
}
.tema03.bg .montains {
  z-index: 3;
  animation: moveBg 70s infinite linear;
  width: 100%;
  height: 100%;
  max-height: 50%;
  position: absolute;
  background-position: center;
  bottom: 0;
  background-size: contain;
  background-position: bottom;
  background-image: url(../imgs/theme03/mountains.png);
}
.tema03.bg .trees {
  z-index: 4;
  animation: moveBg 60s infinite linear;
  width: 100%;
  height: 100%;
  max-height: 50%;
  position: absolute;
  background-position: center;
  bottom: 0;
  background-size: contain;
  background-position: bottom;
  background-image: url(../imgs/theme03/trees.png);
}
.tema03.bg .foreground-trees {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: bottom;
  animation: moveBg3 40s infinite linear;
  background-image: url(../imgs/theme03/foreground-trees.png);
}
@keyframes moveBg {
  from {
    background-position-x: -500px;
  }
  to {
    background-position-x: 500px;
  }
}
@keyframes moveBg2 {
  from {
    background-position-x: -500px;
  }
  to {
    background-position-x: 500px;
  }
}
@keyframes moveBg3 {
  from {
    background-position-x: 150px;
  }
  to {
    background-position-x: 500px;
  }
}
@keyframes moveBg4 {
  from {
    background-position-x: 400px;
  }
  to {
    background-position-x: -200px;
  }
}
