.registro-main {
  width: 100%;
  height: 100%;
  background: #f0f0f014;
  padding: 20px;
  border: 2px solid #ffffff3d;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.registro-main > h2 {
  font-size: 28px;
  line-height: 32px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff3d;
}
.registro-main > form {
  display: flex;
  flex-direction: column;
}
.registro-main > form > label {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
}
.registro-main > form > button {
  background-color: #fff;
  color: #303030;
  padding: 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  transition: color 1s;
}
.registro-main > form > button:hover {
  background-color: #303030;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}
.registro-main > form > label.checkBox {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
}
.registro-main > form > label.checkBox a {
  color: inherit;
}
